@model IEnumerable<PMS_API.Models.NewProject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommencedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConcludedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionsUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElevationsUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaPanelCalculationUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConceptsDrawingUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptimizationUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopDrawingUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnalysisUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOQUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InteriorUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDRenderImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Application.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Architect.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessPartner.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixingType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectType.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommencedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConcludedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionsUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElevationsUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaPanelCalculationUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConceptsDrawingUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptimizationUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopDrawingUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnalysisUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOQUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InteriorUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDRenderImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Architect.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessPartner.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FixingType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
